{% load bootstrap4 humanize instagram_tags %} 

<div class="card">
    <div class="card-header">
        <img src="{{post.author.avatar_url }}" width="32px;"/>
        <a href="{% url "instagram:user_page" post.author.username %}">
            {{ post.author.name }}
        </a>
    </div>
    <div class="card-body">
        <img src="{{ post.photo.url }}" width="100%"/>

        <div>
        
        {% if post|is_like_user:user %}
            <a href="{% url "instagram:post_unlike" post.pk %}" style="color: inherit;" >
                <i class="fa fa-heart"></i>
            </a>
            {% else %}            
                <a href="{% url "instagram:post_like" post.pk %}" style="color: inherit;">
                    <i class="fa fa-heart-o"></i>
                </a>
            {% endif %}
        </div>
        <div id="post-{{ post.pk }}-comment-list" class="comment-list mt-3 mb-3">
            {% for comment in post.comment_set.all %}
                 {% include 'instagram/_comment.html' %}
            {% endfor %}
        </div>
        <div>
            {% for tag_name in post.tag_set.all %}
                <div class="badge badge-primary">
                    #{{ tag_name }}
                </div>
            {% endfor %}
        </div>
        <div>
            <a href="{{ post.get_absolute_url }}" class="text-muted">
                <small>{{ post.created_at|naturaltime }}</small>
            </a>
        </div>
    </div>
    <div class="card-footer">
        {% comment %} <a href="{% url 'instagram:comment_new' post.pk %}">댓글쓰기</a> {% endcomment %}
        <form id="post-{{ post.pk }}-comment-form"action="{% url "instagram:comment_new" post.pk %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form comment_form %}
            <input type="submit" value="댓글 쓰기" class="btn btn-primary btn-block" />
        </form>        

        <script>
            $(function(){
                var form_id = "post-{{ post.pk }}-comment-form";
                $("#" + form_id).submit(function(e){
                    e.preventDefault();

                    var options = {
                        success: function(responseText, statusText, xhr, $form){
                            console.group("ajaxSubmit response");                            
                            console.log(responseText);
                            console.log(statusText);
                            console.log(xhr);
                            console.log($form);
                            console.groupEnd(); 

                            $("#post-{{ post.pk }}-comment-list").prepend(responseText);
                        }
                    }
                    $(this).ajaxSubmit(options); 

                    console.log("submit!!");
                })
                console.log('Document start!!');
            });
        </script>
    </div>
</div>